<div class="container">
  <div class="row">
    <h3>Cities</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <%= render city %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'New City', new_city_path %>
